.top,footer{
    background-color: black;
    color: #fff;
    text-align:center;
    padding: 2%;
    
}
.bookmarks{
    background-color: rgb(5, 134, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 14px;
}


.bookmarks:hover{
    background-color: rgba(228, 15, 15, 0.972);
    color: #fff;
}

.book{
    text-align: center;
    padding-top: 20px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;       
}

.comic {
    float: left;
}

.row{
    width: 100%;
    text-align: center;
    margin: 5% 20%;
}
.main{
    width: 40%;    
}

.photo{
    width: 40%;
}

.row::after{
     content:" ";
     display:table;
     clear:both;
}


